.create-account{
    width: 100%;
    /*margin-left: 5%;*/
}
.form{
    width: 90%;
    margin-left: 5%;
    border: solid thin gray;
    padding: 1%;
    margin-top: 1%;
    background-color: lightgrey;
}
.btn.go-btn {
    background: #2ebd51;
    color: #fff;
    margin-left: 5px;
}

.airData{
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;
    border: solid thin gray;

}
.sector-white {
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 11px;
}
.sectot-box-right {
    text-align: right;
}
.sectot-box-left {
    background: url(../../assets/images/dashboard/d-citymark.png) no-repeat 0 7px;
    padding-left: 25px;
    color: #0099cc;
}

.sectot-box-left h2 {
    font-size: 74px;
    color: #99cc00;
    margin: 0;
    line-height: 100%;
}

.sectot-box-left h3 {
    font-size: 23px;
    color: #99cc00;
    color: #99cc00;
}

.sectot-box-left h4 {
    padding-left: 0;
    font-size: 17px !important;
    background-position: 0 center;
    font-weight: 300;
    margin-bottom: 0px;
    color: #0099cc;
}

.sectot-box-left h5 {
    color: #0099cc;
    font-size: 16px;
    font-weight: 400;
}

.sectot-box-left h6 {
    color: #0099cc;
    color: #666666;
    font-size: 14px;
}

.sectot-box-left p {
    font-size: 12px;
    margin: 0px;
    opacity: 0.8;
    color: #030303;
}

.pimg-icon {
    max-width: 19px;
    max-height: 30px;
    height: 100%;
}
.pm-box {
    font-size: 13px;
    color: #000;
    opacity: 0.8;
}


.sector-box ul li {
    display: inline-block;
    width: 100%;
}

.sector-box p {
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}

.sector-box ul {
    display: flex;
}

.sector-box p sub,
.sector-box p sup {
    font-size: 12px;
    color: #333333;
    margin-left: 5px;
}
.sector-box .col {
    padding-right: 0;
}

.sector-box-dashboard .sector-box {
    text-align: center;
}

.sector-box .pimg-icon {
    margin: 0 auto;
}
.title-custom{
    width: 90%;
    margin-left: 5%;
}
@media only screen and (max-width: 600px) {
    .sm-center{
        text-align: center;
    }
    .airData{
        width: 100%;
        margin-left: 0%;
        margin-top: 1%;
        border: solid thin gray;
    }
}