<div class="fav">
  <div class="row">
    <div class="col-3 favTab">
        <div class="sectot-box-left">
            <h4 class="row">
              <h4 class="col-6">New Delhi, Delhi</h4>
              <h4 class="col-6 right"><button (click)="removeFav()" class="btn button remove-btn">Remove Favourites</button></h4>
            </h4>
            <h6>Air Quality Index</h6>
            <h2 style="color:#FFA500">126</h2>
            <h3 style="color:#FFA500">Poor</h3>
            <p>Last Updated : 19 Mar 2020, 05:28pm</p>
            
        </div>
      <div class="sector-box">
          <div class="row">
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-3 favTab">
        <div class="sectot-box-left">
            <h4>New Delhi, Delhi</h4>
            <h6>Air Quality Index</h6>
            <h2 style="color:#FFA500">126</h2>
            <h3 style="color:#FFA500">Poor</h3>
            <p>Last Updated : 19 Mar 2020, 05:28pm</p>
        </div>
      <div class="sector-box">
          <div class="row">
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
          </div>
      </div>
    </div>
     <div class="col-3 favTab">
        <div class="sectot-box-left">
            <h4>New Delhi, Delhi</h4>
            <h6>Air Quality Index</h6>
            <h2 style="color:#FFA500">126</h2>
            <h3 style="color:#FFA500">Poor</h3>
            <p>Last Updated : 19 Mar 2020, 05:28pm</p>
        </div>
      <div class="sector-box">
          <div class="row">
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
          </div>
      </div>
    </div>
     <div class="col-3 favTab">
        <div class="sectot-box-left">
            <h4>New Delhi, Delhi</h4>
            <h6>Air Quality Index</h6>
            <h2 style="color:#FFA500">126</h2>
            <h3 style="color:#FFA500">Poor</h3>
            <p>Last Updated : 19 Mar 2020, 05:28pm</p>
        </div>
      <div class="sector-box">
          <div class="row">
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
              <div class="col">
                  <div class="pimg-icon">
                      <img src="https://www.aqi.in/assets/images/aqipm5.png" alt="">
                  </div>
                  <div class="pm-box">
                      PM2.5
                  </div>
                  <p style="color:#FFA500;">71<sub>ug/m3</sub></p>
              </div>
          </div>
      </div>
    </div>

  </div>
</div>

<!--<div class="fav">
  <div class="card-columns">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the first card</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
  </div>
</div>-->
